<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogToConsole="true"
      internalLogFile="log\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logdir" value="${basedir}\log"/>
  <!-- the targets to write to -->
  <targets async="true">
    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="web" fileName="${logdir}\${shortdate}.log"
            layout="${date:format=HH\:mm\:ss.fff}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}${newline}${message} ${exception:format=ToString,StackTrace}${newline}" />
        <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Info" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Info" writeTo="web" />
  </rules>
</nlog>
